@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

@media print {
  body {
    background: white;
  }

  .print\:hidden {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 20mm;
  }
}